<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="frame_id" default="odom" />
  <arg name="voxel_size" default="0.2" />

  <group ns="$(arg mav_name)">
    <node name="voxblox_rrt_planner" pkg="voxblox_rrt_planner" type="voxblox_rrt_planner_node" output="screen" clear_params="true">
      <remap from="voxblox_rrt_planner/esdf_map_in" to="esdf_map" />
      <remap from="voxblox_rrt_planner/tsdf_map_in" to="tsdf_map" />
      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="16" />

      <param name="visualize" value="true" />
      <param name="robot_radius" value="0.5" />

      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="num_seconds_to_plan" value="2.0" />
      <param name="do_smoothing" value="false" />
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="world_frame" value="$(arg frame_id)" />
      <param name="trust_approx_solution" value="true" />
      <param name="publish_traversable" value="true" />
      <param name="split_at_collisions" value="true" />
      <param name="optimize_time" value="true" />
      <param name="verbose" value="true" />
    </node>
  </group>
</launch>
