<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mav_name" default="jay"/>
  <arg name="namespace" default="$(arg mav_name)" />
  <param name="use_sim_time" value="true" />
  <group ns="$(arg mav_name)">

    <node name="voxblox_listener" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
      <remap from="pointcloud" to="nothing"/>
      <param name="publish_tsdf_map" value="false" />
      <param name="publish_esdf_map" value="false" />
      <param name="tsdf_voxel_size" value="0.10" />
      <param name="tsdf_voxels_per_side" value="16" />
      <param name="voxel_carving_enabled" value="true" />
      <param name="color_mode" value="color" />
      <param name="use_tf_transforms" value="true" />
      <param name="update_mesh_every_n_sec" value="1.0" />
      <param name="max_ray_length_m" value="6.0" />
      <param name="slice_level" value="1.0" />
      <param name="publish_slices" value="true"/>
      <param name="use_freespace_pointcloud" value="false" />
      <param name="method" value="fast" />
      <param name="world_frame" value="odom" />
      <remap from="voxblox_listener/esdf_map_in" to="hello" />
      <param name="verbose" value="true" />
      <param name="publish_pointclouds" value="true" />
      <param name="capability_group" value="Planning" />
    </node>

  </group>
</launch>
